streamlit
langchain_openai
fastapi
sqlalchemy
pymupdf
pytesseract
pillow
transformers
langchain
uvicorn
langchain-community
langchain-core
langchain-huggingface
python-multipart
sentencepiece
langchain-chroma
beautifulsoup4
lark
duckduckgo-search